.App {
  text-align: center;
}

.playIcon {
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  opacity: 0;
}

.bestImg:hover ~ .playIcon {
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.playIcon:hover {
  opacity: 1;
}